* {
	box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    min-width: 100%;
}
section {
	display: block;
}

div {
	display: block;
}*/

.main_wrapper {
	min-width: 100%;
	width: 1600px;
}

.header {
	height: 80px;
	background-color: black;
	margin: 0 auto 0;
}

.header_wrapper {
	display: flex;
	flex-direction: row;
	margin: 0 auto 0;
	align-items: center;
	width: 1160px;
	height: 80px;
	align-content: space-between;
	justify-content: space-between;
}


.header_logo {
	padding: 4px;
    text-align: start;
	width: fit-content;
}


h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

.header_list {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.header_nav {
	width: 50%;

}


.header_navbar_item a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	background: transparent;
}

.header_navbar_item a:hover {
	color:orange;
}

.header_navbar_item_donate a {
	color: orangered;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

.header_navbar_item {
	text-align: center;
	display: block;
}

.designed_by {
	width: fit-content;
}

.designed_by a {
	color: white;
	text-decoration: none;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.designed_by a:hover {
	color:orange;
}

.panda_bg {
	min-width: 100%;
	width: 1600px;
}

.panda {
	background: url(../assets/images/panda_bg.png) no-repeat;
	height: 390px;
	background-size: cover;
    position: relative;
    border: 0;
    padding: 1px;
    min-width: 100%;
}

.pick_and_feed {
	position: relative;
	min-width: 100%;
	width: 1600px;
	margin: 0;
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
}

.blank_line {
	position: absolute;
	background-color: #ffffff;
	width: 44px;
	height: 100%;
	left: 0;
	bottom: 0;
}

.pick_and_feed_wrapper {
	margin: auto;
	width: 1160px;
	min-height: 1482px;
	border-radius: 0;
}

.help {
	margin: 0 auto 0;
}

.help h3 {
	height: 47px;
	width: 1157px;
	font-size: 36px;
	font-weight: 400;
	line-height: 47px;
	letter-spacing: 0;
	text-align: left;
	color: white;
	padding-top: 40px;
	margin-top: 0;
}

.help p {
	height: 94px;
	width: 1160px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	padding-top: 10px;
}

.donation_information h3 {
	height: 47px;
	width: 341px;
	font-size: 36px;
	font-weight: 400;
	line-height: 47px;
	letter-spacing: 0em;
	text-align: left;
	color: #FE9013;
	margin-top: 40px;
	margin-bottom: 100px;
}

.pick_and_feed_inner_wrapper {
	margin: auto;
}

.inner {
	height: 964px;
	width: 1160px;
	margin-top: 60px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.52);
	position: relative;
}

.inner_picture {
	height: 862px;
	width: 976px;
	border-radius: 0px;
	margin: 0 auto;
	position: absolute;
}

.pick_friend h2 {
	margin-top: 40px;
	margin-left: 335px;
	height: 58px;
	width: 463px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: 0em;
	text-align: center;
	color: #FE9013;
}

.pick_friend p {
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color: black;
	margin-left: 92px;
	margin-top: 20px;

}

.panda_block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.amount_of_days {
	height: 58px;
	width: 82px;
	left: 253px;
	top: 272px;
	margin-left: 353px;
	margin-top: 165px;

}

.panda_diet {
	height: 22px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	margin-top: -55px;
	margin-left: 200px;
}

.x_icon {
	height: 14px;
	width: 14px;
	color: black;
	margin-left: 50px;
	margin-top: 190px;
}

.animal_widget {
	height: 246px;
	width: 284px;
	margin-left: 543px;
	margin-top: -167px;
}

.scroll p {
	height: 22px;
	width: 57px;
	left: 4px;
	top: 461px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 60px;
	margin-left: 92px;
}

.prog_bar {
	margin-left: 92px;
	height: 40px;
	width: 976px;
	margin-top: 5px;
	top: 493px;
}

.price {
	margin-left: 92px;
	margin-top: 6px;
	height: 36px;
	width: 991px;
}

.form_input {
	display: inline-block;
	position: relative;
	height: 54px;
	width: 468px;
	margin-left: 450px;
	margin-top: 50px;
	margin-bottom: 11px;
	border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.type_radio {
	margin-left: 452px;
	width: 228px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.monthly {
	margin-left: 382px;
	margin-top: 25px;
	height: 21px;
	width: 84px;
}

.feed_a_friend {
	margin-left: 412px;
	margin-top: 11px;
	width: 976px;
}

.feed_a_friend p {
	height: 22px;
	width: 301px;
	margin-top: 21px;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

/*.footer {
    display: flex;
    flex-direction: column;
    height: 443px;
    min-width: 100%;
    background-color: #111115;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto 0;
    padding: 5px;
}

.footer-content .footer-col {
    display: flex;
    flex-direction: column;
}

.footer-content .footer-col .float-right {
    align-content: end;
}

.logo_footer {
    height: 52px;
    width: 82px;
    margin-top: 41px;
}

.btn_donate {
    margin-top: 68px;
}

.subscribe {
    height: 29px;
    width: 237px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    color: white;
    margin-top: 40px;
}

.form-subscription {
    display: flex;
    align-content: end;
}

.form-subscription-input {
	padding: 5px;
	margin-top: 14px;
	border: 1px solid #fe9013;
	border-radius: 4px;
	outline: transparent;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	color: #fff;
	background-color: inherit;
	height: 42px;
	width: 228px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.amount_input {
	padding: 5px;
    margin-top: 14px;
    border: 1px solid #919191;
    border-radius: 2px;
    outline: transparent;
    font-weight: 400;
    line-height: 1.4;
    color: #919191;
    background-color: inherit;
    height: 42px;
    width: 228px;
	font-family: inherit;
}

.currency_suffix {
	margin-left: -20px;
}

input[type='radio'] {
	appearance: none;
	background-color: inherit;
	width: 1em;
	height: 1em;
	border: 0.1em solid #FE9013;
	border-radius: 50%;
	margin-right: 5px;
}

input[type='radio']:checked {
	background-color: #FE9013;
	font-size: 16px;
}

.amount_radio_label {
	font-family: inherit;
	font-weight: 200;
}

.input_group {
	display: flex;
	width: 90px;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.send_btn {
    height: 42px;
    width: 129px;
    border-radius: 4px;
    border: 1px solid #4B9200;
    margin-top: 14px;
    margin-left: 10px;
}

.btn_submit {
    text-decoration: none;
    color: #4B9200;
}

.btn_vol {
    position: absolute;
    height: 54px;
    width: 298px;
    margin-left: 220px;
    margin-top: 171px;
}

.soc_media {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}

ul .soc_med {
    color: white;
    list-style: none;
    padding: 0;
}

.soc_med_item {
    height: 21px;
    width: 73px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.footer_nav_menu {
	display: flex;
	justify-content: space-between;
    text-decoration: none;
    list-style: none;
	margin: auto;
	width: 1160px;
}

.menu_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
	align-content: end;
    width: 500px;
}

.menu_footer_item a {
    display: block;
    text-decoration: none;
    margin-left: 38px;
    color: white;
    font-size: 16px;
    font-weight: 22.4;
}


.menu_footer_item_about {
    color: red;
    list-style: none;
}

.menu_footer_item_map {
    color: white;
    text-decoration: none;
    list-style: none;
}

.sign {
    text-align: center;
    height: 21px;
    width: fit-content;
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    color: white;
}
.sign_wrapper {
	height: fit-content;
	align-self: end;
}





